.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__city {
  display: block;
  background-image: url('/public/images/facebook-places.svg');
  background-size: 11% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}