.details__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details__sky {
  text-align: center;
}

.details__sky-title {
  font-size: 1.2rem;
}

.details__temperature-number {
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 64px;
}

.details__temperature-number .celsius {
  position: absolute;
  top: 15px;
  font-size: 24px;
  color: #666666;
}

.details__intervals {
  display: flex;
  flex-direction: column;
  color: #999999;
}

.details__interval-max {
  margin-bottom: 10px;
}
